.cell {
  border: 3px solid gray;
  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.lg-10 {
  width: calc(100% / 10);
  aspect-ratio: 1/1;
}

.lg-9 {
  width: calc(100% / 9);
  aspect-ratio: 1/1;
}

.lg-7 {
  width: calc(100% / 7);
  aspect-ratio: 1/1;
}

#cell-group {
  padding: 0;
}

.cell-active {
  background-color: lightblue;
}
